In [94]:
import pandas as pd
from sklearn.utils import shuffle
from pandas import DataFrame
import numpy as np
from IPython.core.debugger import set_trace

In [95]:
! python -m pip install pymongo==3.7.2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo==3.7.2 in /usr/local/lib/python3.8/dist-packages (3.7.2)

In [96]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [97]:
from joblib import load
gpc_loaded = load('/content/drive/MyDrive/Colab Notebooks/modelos/localizacao.model')
gpc_loaded

RandomForestClassifier(criterion='entropy', random_state=42)

In [98]:
import datetime                           
import pymongo
from pymongo import MongoClient
# uri (uniform resource identifier) define os parêmtros de conexão com o banco de dados
uri = 'mongodb+srv://inteli-iot:ezw48zEei6j7i2W2@inteli-iot.segilnf.mongodb.net/inteli-iot?retryWrites=true&w=majority'
# conecta à coleção alvo do mongoose
cluster = MongoClient( uri )
db = cluster["inteli-iot"]
collection = db["locations"]
training_collection = db["locationsTrainingData"]

In [99]:
df = pd.DataFrame(list(collection.find({'room': {'$exists': False}})))
locations_copy = df.copy()

In [100]:
formatedTotalSignalsDf = pd.DataFrame()
for index, row in df.iterrows():
  signalsDf = pd.DataFrame(row.signals)
  signalsDf = signalsDf.drop('_id', axis=1)
  macAddressArray = signalsDf['macAddress']
  strengthArray = signalsDf['strength']

  formatedDfData = {}
  for signalsIndex, signalsRow in signalsDf.iterrows():
    formatedDfData[signalsRow.macAddress] = signalsRow.strength 

  formatedSignalsDf = pd.DataFrame(formatedDfData, [index])
  
  formatedTotalSignalsDf = pd.concat([formatedTotalSignalsDf, formatedSignalsDf])
    
formatedTotalSignalsDf
df = pd.concat([df, formatedTotalSignalsDf], axis=1)

In [101]:
#Exclusão das colunas que não serão utilizadas
df = df.drop('signals', axis=1)
df = df.drop('createdAt', axis = 1)
id_column = df['_id']
df = df.drop('_id', axis=1)
df = df.drop('deviceId', axis=1)
df = df.drop('__v', axis = 1)
df = df.drop('updatedAt', axis = 1)
if 'battery' in df.columns:
  df = df.drop('battery', axis = 1)

In [102]:
#Preencher NaN com 0
df = df.fillna(0)
df

,FC:5C:45:00:57:48,FC:5C:45:C0:57:48,FC:5C:45:C0:57:49,FC:5C:45:00:57:4A,F6:12:FA:E2:3F:24,FC:5C:45:C0:5C:59,FC:5C:45:00:5C:58,FC:5C:45:C0:5C:58,FC:5C:45:00:5C:5A,FC:5C:45:C0:55:13,...,FC:5C:45:00:68:89,FC:5C:45:C0:68:89,FC:5C:45:00:68:8A,FC:5C:45:00:5E:09,8A:29:A4:23:08:AC,F6:12:FA:E2:55:04,FC:5C:45:00:4D:88,FC:5C:45:C0:4D:88,84:23:88:19:6A:B8,1A:FE:34:A2:53:AC
0,-62,-62,-62,-62,-63,-63.0,-64.0,-64.0,-64.0,-73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-87,-88,-88,-86,-73,-76.0,0.0,0.0,-76.0,-56,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-76,-76,-76,-76,-89,0.0,0.0,0.0,0.0,-71,...,-59.0,-59.0,-59.0,-77.0,-81.0,-83.0,-88.0,-89.0,-90.0,-93.0

In [103]:
training_df = pd.DataFrame(list(training_collection.find({'room': {'$exists': True}})))
training_df

,_id,deviceId,room,signals,battery,createdAt,updatedAt,__v
0,639a1a8b639dabb65f7a1fd9,F4:12:FA:E2:24:04,05/01/01,"[{'macAddress': 'F6:12:FA:E2:55:04', 'strength...",60.0,2022-12-14 18:48:43.522,2022-12-14 18:48:43.522,0
1,639a1afe639dabb65f7a1ffd,F4:12:FA:E2:24:04,05/01/01,"[{'macAddress': 'FE:F6:3A:68:98:A3', 'strength...",60.0,2022-12-14 18:50:38.387,2022-12-14 18:50:38.387,0
2,639a1b13639dabb65f7a201a,F4:12:FA:E2:24:04,05/01/01,"[{'macAddress': 'FE:F6:3A:68:98:A3', 'strength...",60.0,2022-12-14 18:50:59.473,2022-12-14 18:50:59.473,0
3,639a1b24639dabb65f7a2045,F4:12:FA:E2:24:04,05/01/01,"[{'macAddress': 'FC:5C:45:00:57:48', 'strength...",60.0,2022-12-14 18:51:16.251,2022-12-14 18:51:16.251,0
4,639a1b40639dabb65f7a207a,F4:12:FA:E2:24:04,05/01/01,"[{'macAddress': 'FC:5C:45:00:57:48', 'strength...",60.0,2022-12-14 18:51:44.338,2022-12-14 18:51:44.338,0
...,...,...,...,...,...,...,...,...
147,6387cfbe119842ac5d7dd34b,F4:12:FA:E2:24:04,05/02/10,"[{'macAddress': 'F6:12:FA:E2:06:18', 'strength...",NaN,2022-11-30 21:48:46.262,2022-11-30 21:48:46.262,0
148,6387cfc5119842ac5d7dd384,F4:12:FA:E2:24:04,05/02/10,"[{'macAddress': 'F6:12:FA:E2:06:18', 'strength...",NaN,2022-11-30 21:48:53.858,2022-11-30 21:48:53.858,0
149,6387cfcd119842ac5d7dd3bb,F4:12:FA:E2:24:04,05/02/10,"[{'macAddress': 'F6:12:FA:E2:06:18', 'strength...",NaN,2022-11-30 21:49:01.409,2022-11-30 21:49:01.409,0
150,6387cfd4119842ac5d7dd3f1,F4:12:FA:E2:24:04,05/02/10,"[{'macAddress': 'F6:12:FA:E2:06:18', 'strength...",NaN,2022-11-30 21:49:08.933,2022-11-30 21:49:08.933,0
151,6387cfdc119842ac5d7dd427,F4:12:FA:E2:24:04,05/02/10,"[{'macAddress': 'F6:12:FA:E2:06:18', 'strength...",NaN,2022-11-30 21:49:16.661,2022-11-30 21:49:16.661,0

In [104]:
formatedTotalSignalsDf = pd.DataFrame()
for index, row in training_df.iterrows():
  signalsDf = pd.DataFrame(row.signals)
  signalsDf = signalsDf.drop('_id', axis=1)
  macAddressArray = signalsDf['macAddress']
  strengthArray = signalsDf['strength']

  formatedDfData = {}
  for signalsIndex, signalsRow in signalsDf.iterrows():
    formatedDfData[signalsRow.macAddress] = signalsRow.strength 

  formatedSignalsDf = pd.DataFrame(formatedDfData, [index])
  
  formatedTotalSignalsDf = pd.concat([formatedTotalSignalsDf, formatedSignalsDf])
    
training_df = pd.concat([training_df, formatedTotalSignalsDf], axis=1)

In [105]:
#Exclusão das colunas que não serão utilizadas
training_df = training_df.drop('signals', axis=1)
training_df = training_df.drop('createdAt', axis = 1)
id_column = training_df['_id']
training_df = training_df.drop('_id', axis=1)
training_df = training_df.drop('deviceId', axis=1)
training_df = training_df.drop('__v', axis = 1)
training_df = training_df.drop('updatedAt', axis = 1)
if 'battery' in training_df.columns:
  training_df = training_df.drop('battery', axis = 1)
training_df = training_df.drop('room', axis = 1)

In [106]:
training_df.shape

(152, 140)

In [107]:
df.shape

(3, 73)

In [108]:
missing_columns = training_df.columns.difference(df.columns)
missing_columns

Index(['00:23:89:5E:08:60', '00:23:89:5E:08:61', '1A:FE:34:A2:57:0E',
       '28:87:BA:0D:29:3B', '48:4A:E9:12:A6:00', '48:4A:E9:12:A6:02',
       '6E:C7:EC:79:19:D0', '74:4C:A1:5A:B3:31', '84:23:88:19:6A:B9',
       '84:23:88:19:6A:BA', '84:23:88:D9:6A:B9', 'CC:32:E5:6A:7B:C2',
       'D4:B9:2F:29:28:FF', 'D8:6C:5A:3A:3D:17', 'DE:03:98:07:A2:04',
       'DE:03:98:3A:41:69', 'DE:7A:B4:FB:28:72', 'EE:4A:23:4A:FB:C9',
       'F2:DC:81:11:92:AF', 'F6:12:FA:E2:04:04', 'F6:12:FA:E2:04:C0',
       'F6:12:FA:E2:06:34', 'F6:12:FA:E2:06:48', 'F6:12:FA:E2:43:F4',
       'F6:12:FA:E2:44:0C', 'F6:12:FA:E2:45:F4', 'F6:12:FA:E2:48:60',
       'F6:12:FA:E2:49:10', 'F6:12:FA:E2:53:D4', 'F6:12:FA:E2:54:D0',
       'F6:12:FA:E2:55:28', 'F6:12:FA:E2:55:38', 'F6:12:FA:E2:55:80',
       'FC:5C:45:00:4D:8A', 'FC:5C:45:00:4F:D8', 'FC:5C:45:00:4F:DA',
       'FC:5C:45:00:52:08', 'FC:5C:45:00:52:0A', 'FC:5C:45:00:55:18',
       'FC:5C:45:00:55:19', 'FC:5C:45:00:55:1A', 'FC:5C:45:00:57:58',
       'FC:5C:45:00:57:5A', 'FC:5C:45:00:58:B8', 'FC:5C:45:00:58:BA',
       'FC:5C:45:00:5F:68', 'FC:5C:45:00:5F:6A', 'FC:5C:45:00:60:58',
       'FC:5C:45:00:60:5A', 'FC:5C:45:00:66:F8', 'FC:5C:45:00:66:FA',
       'FC:5C:45:C0:4D:89', 'FC:5C:45:C0:4F:D9', 'FC:5C:45:C0:52:08',
       'FC:5C:45:C0:52:09', 'FC:5C:45:C0:55:18', 'FC:5C:45:C0:57:58',
       'FC:5C:45:C0:57:59', 'FC:5C:45:C0:58:B8', 'FC:5C:45:C0:58:B9',
       'FC:5C:45:C0:5F:68', 'FC:5C:45:C0:5F:69', 'FC:5C:45:C0:60:58',
       'FC:5C:45:C0:60:59', 'FC:5C:45:C0:66:F8', 'FC:5C:45:C0:66:F9',
       'FE:F6:3A:68:98:A3'],
      dtype='object')

In [109]:
missing_columns_2 = df.columns.difference(training_df.columns)
len(missing_columns_2)

0

In [110]:
# df[missing_columns] = df[missing_columns].fillna(0)
for column in missing_columns:
  df[column] = 0

for column in missing_columns_2:
  df.drop(column, axis=1, inplace=True)

In [111]:
training_df.shape

(152, 140)

In [112]:
y_pred = gpc_loaded.predict(df)
y_pred

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

array(['05/01/01', '05/02/09', '05/02/06'], dtype=object)

In [113]:
locations_copy['room'] = y_pred
locations_copy

,_id,deviceId,signals,createdAt,updatedAt,__v,room
0,639b23600463da78dd915274,F4:12:FA:E2:24:04,"[{'macAddress': 'FC:5C:45:00:57:48', 'strength...",2022-11-30 19:32:41.766,2022-11-30 19:32:41.766,0,05/01/01
1,639b23940463da78dd915275,F4:12:FA:E2:24:04,"[{'macAddress': 'F6:12:FA:E2:06:18', 'strength...",2022-11-30 21:47:41.430,2022-11-30 21:47:41.430,0,05/02/09
2,639b23a10463da78dd915276,F4:12:FA:E2:24:04,"[{'macAddress': 'FC:5C:45:00:68:88', 'strength...",2022-11-30 19:42:40.013,2022-11-30 19:42:40.013,0,05/02/06

In [114]:
for index, row in locations_copy.iterrows():
  myquery = { "_id": row._id }
  newvalues = { "$set": { "room": row.room } }
  collection.update_one(myquery, newvalues)